body{
    margin: 0px;
}
p{
    color: white;
}
body{
    background-color: rgb(96, 91, 91);
    align-items: center;
}
.header{
    background-color: black;
    height: 100px;
    justify-content: space-between;
}
.footer{
    background-color: black;
    margin: 0;
}
h1{
    color: white;
    background-color: black;
    margin: 0px;
}
.classe{
    list-style: none;
    gap: 10px;
    display: flex;
}
h2{
    color: white;
}