p{
    color: white;
}
body{
    background-color: rgb(96, 91, 91);
    align-items: center;
}
.header{
    background-color: black;
}
.footer{
    background-color: black;
    margin: 0;
}
.desenvolvedor{
    color: white;
}
.descrição{
    align-items: center;
    text-decoration: white;
}
.produto{
    color: white;
}
.album{
    width: 150px;
}
.slogan{
    text-size-adjust: 250px;
    background-color: black;
    color: white;
}